<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../static/js/admin/getCertified.js"></script>
    <title>Comment Admin - JBS Network</title>
</head>
<body>
    <h1>Gestion des commentaires</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Id Utilisateur</th>
                <th>Date de certification</th>
                <th>Id utilisateur</th>
                <th>Réson</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="certifiedTable">
        </tbody>
    </table>
</body>
</html>
