<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Admin - JBS Network</title>
</head>
<body>
    <h1>Gestion des commentaires</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id du Post</th>
                <th>Id utilisateur</th>
                <th>Contenu</th>
                <th>Date du Commentaire</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="commentTable">
        </tbody>
    </table>
</body>
</html>
