<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Admin - JBS Network</title>
</head>
<body>
    <h1><a href="users.html">Ici seras présent des statisques de crétion de compte...</a></h1>
    <h1><a href="post.html">Ici seras présent des statisques de commentaire laisser chaque jour...</a></h1>
    <h1>Ici seras présent des statisques de bans de compte...</h1>
    <h1>Ici seras présent des statisques des avertissements de compte...</h1>
    <h1>Ici seras présent des statisques sur le nombre de poste par jour...</h1>
    <h1>Ici seras présent des statisques le nombre de nouveaux compte certifié...</h1>
</body>
</html>