<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../static/js/admin/getRepport.js"></script>
    <title>Repport Admin - JBS Network</title>
</head>
<body>
    <h1>Gestion des Repport</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id Repporteur</th>
                <th>Id Repport User</th>
                <th>Id Repport Post</th>
                <th>Id Repport Comment</th>
                <th>Raison</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="repportTable">
        </tbody>
    </table>
</body>
</html>
