<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Admin - JBS Network</title>
    <script src="../../static/js/admin/users.js"></script>
</head>
<body>
    <h1>Gestion des utilisateurs</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Anniversaire</th>
                <th>Mot de passe</th>
                <th>Date de création</th>
                <th>Grade</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="userTable">
            <!-- Les utilisateurs seront affichés ici -->
        </tbody>
    </table>
</body>
</html>
