<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../static/js/admin/getWarms.js"></script>
    <title>Bans Admin - JBS Network</title>
</head>
<body>
    <h1>Gestion des Bnas</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id Utilisateur</th>
                <th>Id Moderateur</th>
                <th>Raison</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="bansTable">
        </tbody>
    </table>
</body>
</html>
